body {
  font-family: sans-serif; /* Standard Schriftart */
  margin: 0; /* Entfernt Standard-Margin */
  background-color: #f0f5f9; /* Heller Hintergrund */
  color: #333; /* Dunkler Text für guten Kontrast */
}

/* Header */
header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #2962ff; /* Primärblau */
  color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  font-size: 28px;
}

/* Info-Bar */
#infoBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #2b4a7d;
  padding: 5px 10px;
  font-size: 14px;
  color: white;
  position: relative;
  width: 100%;
  box-sizing: border-box; /* Damit die größe Inklusive Padding gerechnet wird */
  z-index: 1000; /* Damit es immer oben ist */
}

/* Header-Inhalt */
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: #2962ff; /* Primärblau */
  color: #ffffff;
  padding: 20px 20px;
  font-size: 28px;
  box-sizing: border-box;
}

#header button {
  padding: 0.5rem 0rem;
}

/* Zentrierter Titel */
#header h1 {
  margin: 0;
  font-size: 28px;
  letter-spacing: 2px;
}

/* Navigation */
nav {
  background-color: #448aff; /* Etwas helleres Blau */
  padding: 0.5rem 0;
}

nav ul {
  list-style: none; /* Entfernt Aufzählungszeichen */
  margin: 0;
  padding: 0;
  text-align: center;
}

nav li {
  display: inline; /* Elemente nebeneinander */
  margin: 0 1rem;
}

nav a {
  text-decoration: none; /* Entfernt Unterstreichung */
  color: #fff;
  font-weight: bold;
}

table {
  border-collapse: collapse;
  width: 20%;
  margin: auto;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

/* Für Zellen, die langen Text enthalten */
td.truncated {
  max-width: 200px;  /* Maximalbreite der Zelle */
  overflow: hidden;
  text-overflow: ellipsis;  /* "..." anzeigen, wenn der Text zu lang ist */
  white-space: nowrap;  /* Verhindert Umbrüche */
}

td.truncated:hover {
  overflow: visible;  /* Beim Hover den Text sichtbar machen */
  white-space: normal;  /* Erlaubt den Umbruch */
  background-color: #f8f8f8;  /* Optional: Hervorheben beim Hover */
  z-index: 1000;  /* Sicherstellen, dass der Text über anderen Inhalten liegt */
}

/* Formulare */
.form-group {
  display: inline-block; /* oder block, je nach Layout */
  margin: 5px;
  white-space: nowrap; /* verhindert Zeilenumbruch zwischen Label und Input */
}

/* DIV-Container */
#container {
  overflow-x: hidden; /* Damit beim swipen keine Veränderung entsteht*/
  width: 100vw;        /* 100% der Viewport-Breite */
  box-sizing: border-box;
    display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center; /*center;*/
}
.schwimmer {
  touch-action: pan-y; /* 'pan-y' oder 'none', je nach Bedarf */
  will-change: transform; 
  flex: 0 1 200px;
  border: 1px solid black;
  padding: 1rem;
  background-color: lightblue;
  text-align: center;
  transition: all 0.5s;
}
.schwimmer .nummer {
  font-size: 2rem;
}

.schwimmer .bahnen {
  font-size: 1.2rem;
}

.schwimmer .name {
  font-size: 1rem;
  margin-top: 0.5rem;
}

.schwimmer .prio {
  display: none;
  font-size: 0.8rem;
  margin-top: 0.5rem;
  color: gray;
}

.schwimmer:hover .prio {
  display: inline;
}

/* Hauptinhalt */
main {
  padding: 0px 0px 60px;
}

section {
  margin-bottom: 2rem;
}

h2 {
  color: #2962ff; /* Überschriften in Primärblau */
}

/* Buttons */
button {
  background-color: #2962ff;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer; /* Mauszeiger ändert sich beim Hovern */
}

button:hover {
  background-color: #0d47a1; /* Dunkleres Blau beim Hovern */
}

/* Footer */
footer {
  background-color: #448aff;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
  position: fixed; /* Footer fixieren */
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}

.abwesend {
  background-color: #f66;
  color: white;
}

/* Custom Kontextmenü */
#contextMenu {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid #aaa;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

#contextMenu ul {
  list-style: none;
  margin: 0;
  padding: 5px 0;
}

#contextMenu li {
  padding: 8px 16px;
  cursor: pointer;
}

#contextMenu li:hover {
  background-color: #eee;
}

/* Responsives Design */
@media (max-width: 768px) {
  nav ul {
    text-align: left; /* Navigationslinks linksbündig auf kleineren Bildschirmen */
  }

  nav li {
    display: block; /* Navigationslinks untereinander */
    margin: 0.5rem 0;
  }
}
