/* Modal styling */
.mymodal {
    display: none; /* Initially hidden */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
}

.mymodal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
}

/* aus dem Original test - evtl. löschen 
button {
    margin-top: 10px;
    padding: 10px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

button:disabled {
    background-color: #bbe9bc;
}

button:hover {
    background-color: #45a049;
}

#clearBtn {
    background-color: #f44336; 
}

#clearBtn:hover {
    background-color: #d32f2f;
}
*/